
.btn-primary-custom {
    border-radius: 6px;
    background: #fb792b;
    color: #fff;
    border-color: #fb792b;
    font-size: 1.4rem;
    border-width: 0px;
    margin: 5px;
}

.tooltip-box {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    width: fit-content;
    height: fit-content;
    border: 1px solid #cccccc;
    padding: 10px;
    box-shadow: 0 2px 5px #0000001a;
    z-index: 1;
}




